NODE_ENV = development

# database
DATABASE_URL="postgresql://root:qwertz@localhost:5432/raven?schema=public"

# authentication
JWT_ACCESS_TOKEN_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRATION_MS=30000 # 30s

JWT_REFRESH_TOKEN_SECRET=anothersecret
JWT_REFRESH_TOKEN_EXPIRATION_MS=604800000 # 7 days
