NODE_ENV="development"

# databese
DATABASE_URL="postgresql://root:qwertz@localhost:5432/xenon"

# authentication
JWT_REFRESH_TOKEN_SECRET="change-me"
JWT_ACCESS_TOKEN_SECRET="change-me-too"

JWT_ACCESS_EXPIRY_SECONDS=900       # 15 minutes
JWT_REFRESH_EXPIRY_SECONDS=604800   # 7 days